<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.joine.business.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="userId"    column="user_id"    />
        <result property="wxOpenid"    column="wx_openid"    />
        <result property="loginName"    column="login_name"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="nickName"    column="nick_name"    />
        <result property="userType"    column="user_type"    />
        <result property="userLevelId"    column="user_level_id"    />
        <result property="email"    column="email"    />
        <result property="mobilephone"    column="mobilephone"    />
        <result property="gender"    column="gender"    />
        <result property="avatar"    column="avatar"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="registerTime"    column="register_time"    />
        <result property="registerIp"    column="register_ip"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginTime"    column="login_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectUserVo">
        select user_id, wx_openid, login_name, password, salt, nick_name, user_type, user_level_id, email, mobilephone, gender, avatar, status, del_flag, register_time, register_ip, login_ip, login_time, create_by, create_time, update_by, update_time, remark from business_user
    </sql>
	
    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
             <if test="wxOpenid != null  and wxOpenid != '' "> and wx_openid = #{wxOpenid}</if>
             <if test="loginName != null  and loginName != '' "> and login_name = #{loginName}</if>
             <if test="password != null  and password != '' "> and password = #{password}</if>
             <if test="salt != null  and salt != '' "> and salt = #{salt}</if>
             <if test="nickName != null  and nickName != '' "> and nick_name = #{nickName}</if>
             <if test="userType != null  and userType != '' "> and user_type = #{userType}</if>
             <if test="userLevelId != null "> and user_level_id = #{userLevelId}</if>
             <if test="email != null  and email != '' "> and email = #{email}</if>
             <if test="mobilephone != null  and mobilephone != '' "> and mobilephone = #{mobilephone}</if>
             <if test="gender != null  and gender != '' "> and gender = #{gender}</if>
             <if test="avatar != null  and avatar != '' "> and avatar = #{avatar}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="registerTime != null "> and register_time = #{registerTime}</if>
             <if test="registerIp != null  and registerIp != '' "> and register_ip = #{registerIp}</if>
             <if test="loginIp != null  and loginIp != '' "> and login_ip = #{loginIp}</if>
             <if test="loginTime != null "> and login_time = #{loginTime}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into business_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wxOpenid != null  and wxOpenid != ''  ">wx_openid,</if>
			<if test="loginName != null  and loginName != ''  ">login_name,</if>
			<if test="password != null  and password != ''  ">password,</if>
			<if test="salt != null  and salt != ''  ">salt,</if>
			<if test="nickName != null  and nickName != ''  ">nick_name,</if>
			<if test="userType != null  and userType != ''  ">user_type,</if>
			<if test="userLevelId != null  ">user_level_id,</if>
			<if test="email != null  and email != ''  ">email,</if>
			<if test="mobilephone != null  and mobilephone != ''  ">mobilephone,</if>
			<if test="gender != null  and gender != ''  ">gender,</if>
			<if test="avatar != null  and avatar != ''  ">avatar,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="registerTime != null  ">register_time,</if>
			<if test="registerIp != null  and registerIp != ''  ">register_ip,</if>
			<if test="loginIp != null  and loginIp != ''  ">login_ip,</if>
			<if test="loginTime != null  ">login_time,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wxOpenid != null  and wxOpenid != ''  ">#{wxOpenid},</if>
			<if test="loginName != null  and loginName != ''  ">#{loginName},</if>
			<if test="password != null  and password != ''  ">#{password},</if>
			<if test="salt != null  and salt != ''  ">#{salt},</if>
			<if test="nickName != null  and nickName != ''  ">#{nickName},</if>
			<if test="userType != null  and userType != ''  ">#{userType},</if>
			<if test="userLevelId != null  ">#{userLevelId},</if>
			<if test="email != null  and email != ''  ">#{email},</if>
			<if test="mobilephone != null  and mobilephone != ''  ">#{mobilephone},</if>
			<if test="gender != null  and gender != ''  ">#{gender},</if>
			<if test="avatar != null  and avatar != ''  ">#{avatar},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="registerTime != null  ">#{registerTime},</if>
			<if test="registerIp != null  and registerIp != ''  ">#{registerIp},</if>
			<if test="loginIp != null  and loginIp != ''  ">#{loginIp},</if>
			<if test="loginTime != null  ">#{loginTime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateUser" parameterType="User">
        update business_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="wxOpenid != null  and wxOpenid != ''  ">wx_openid = #{wxOpenid},</if>
            <if test="loginName != null  and loginName != ''  ">login_name = #{loginName},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="salt != null  and salt != ''  ">salt = #{salt},</if>
            <if test="nickName != null  and nickName != ''  ">nick_name = #{nickName},</if>
            <if test="userType != null  and userType != ''  ">user_type = #{userType},</if>
            <if test="userLevelId != null  ">user_level_id = #{userLevelId},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="mobilephone != null  and mobilephone != ''  ">mobilephone = #{mobilephone},</if>
            <if test="gender != null  and gender != ''  ">gender = #{gender},</if>
            <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="registerTime != null  ">register_time = #{registerTime},</if>
            <if test="registerIp != null  and registerIp != ''  ">register_ip = #{registerIp},</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip = #{loginIp},</if>
            <if test="loginTime != null  ">login_time = #{loginTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

	<delete id="deleteUserById" parameterType="Long">
        delete from business_user where user_id = #{userId}
    </delete>
	
    <delete id="deleteUserByIds" parameterType="String">
        delete from business_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="selectUserByOpenid" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where wx_openid = #{wxOpenid}
    </select>

    <select id="selectUserByLoginName" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where login_name = #{loginName}
    </select>
</mapper>